# Description: Example of .env file

# DATABASE URL USER:PASSWORD@HOST:PORT/DATABASE?SCHEMA=SCHEMA
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5433/mydb?schema=public"

# SECURE URLS TO USE IN CORS
CORS_URLS=http://localhost:3001;http://localhost:3000

# RESULT OF FILE UPLOADS
UPLOADS_PATH=C:\Users\Pc\Documents\trabalhos\contracthub-backend\temp\uploads
